.img-property{
    width: 300px;
}


.img-property .btn{
    background-color: #195B60;
    color: aliceblue;
    width: 100%;
    margin: 0 auto;
}

.btn:hover{
    background-color: #29acb6;
    color: rgb(250, 250, 250);
}